@use "../base/variables" as *;

.button {
	background-color: transparent;
	border: none;
	color: var(--text-primary);
	transition: color .2s linear;

	&:is(:active, :focus-visible) {
		outline: none;
		color: var(--text-accent-white);
	}
}

/*! purgecss ignore current */
.active {
	color: var(--text-accent-white);
}