:root {
	// Font Colors
	--text-primary: hsl(236, 100%, 87%);
	--text-accent-white: hsl(0, 0%, 100%);

	// Background Colors
	--bg-body: hsl(226, 43%, 10%);
	--bg-profile-header: hsl(246, 80%, 60%);
	--bg-card: hsl(235, 46%, 20%);
	--bg-card-hover: hsl(235, 45%, 61%);
	
	// Font Families
	--ff-primary: "Rubik", sans-serif;

	// Font Weights:
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
}

// Convert pixel values to rems
@function toRem($value) {
	$remValue: calc(($value / 16) * 1rem);
	@return $remValue;
}

// Convert pixels to ems
@function toEm($value, $context) {
	$emValue: calc(($value / $context) * 1em);
	@return $emValue;
}